# Copy this file to scripts/flash-gw018-dm.conf and adjust the values for your setup.

REPO="derijans/ambd_sdk_GW018-DM"
RUN_ID=""
ARTIFACT_NAME="gw018-dm-custom-firmware"
FIRMWARE_DIR=""
UPLOAD_TOOL=""
PORT=""
LOG_PORT=""
BACKUP_BAUD="115200"
FLASH_BAUD="921600"
WORK_DIR=".gw018-dm"
SSID=""
PASSPHRASE=""
SKIP_BACKUP="false"
SKIP_WIFI="false"
ASSUME_YES="false"
Z2M_ADAPTER="ezsp"
Z2M_BAUDRATE="115200"
Z2M_RTSCTS="true"
